:root {
    --background-color: rgb(6, 11, 25);
    --border-color: rgb(255, 255, 255, 0.1);
    --first-font: 'Permanent Marker', cursive;
    --second-font: 'Press Start 2P', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
}


body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    /* cursor: url(./images/cursor.png) 0 0, auto; */
}

.link:hover {
    color: rgba(255, 255, 255, 0.4);
    font-style: oblique;
    /* cursor: url(./images/cursor.png) 0 0, auto; */
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid var(--border-color);
}

nav>.nav-section {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: space-evenly;
}

.nav-section a {
    font-size: 0.85em;
}

#nav-logo-section,
#nav-link-section,
#nav-social-section,
#nav-contact-section {
    flex-basis: 25%;
}

#nav-logo-section {
    justify-content: flex-start;
}

#nav-logo-section>a {
    font-family: var(--first-font);
    font-style: italic;
    font-size: 2em;
}

#nav-link-section {
    gap: 4rem;
}

#nav-social-section {
    gap: 3rem;
}



/* main article styling and transition */
main {
    height: 68vh;
    overflow: hidden;
}

#articles {
    display: flex;
    height: 100%;

}

main article {
    width: 100vw;
    display: flex;
    transition: 1s;

}


#presentation p {
    padding: 3em;
    line-height: 1.5em;
}

.intro1 {
    text-indent: 5em;
}

.intro2 {
    text-align: center;
}

.article-image-section {
    height: 100%;
    flex-basis: 70%;
    border-right: var(--border-color) solid 1px;
}

/* article principal styling */

article .article-image-section {
    display: grid;
    transition: 400ms;
    cursor: pointer;
}

article .article-image-section>.img {
    width: 100%;
    height: 100%;
    background: center no-repeat;
    background-size: cover;
}


article .article-image-section:hover>.img {
    opacity: 0.15;
    transition: 400ms;
}

article .article-image-section:hover>.img:hover {
    opacity: 1;
}




/* section image grid*/

article .article-image-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

article .article-image-section:has(.first:hover) {
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1.5fr 0.5fr;

}

article .article-image-section:has(.second:hover) {
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1.5fr 0.5fr;

}

article .article-image-section:has(.third:hover) {
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 1.5fr;

}

article .article-image-section:has(.fourth:hover) {
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.5fr 1.5fr;

}

#project2 .article-image-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#project2 .article-image-section:has(.first:hover) {
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr;

}

#project2 .article-image-section:has(.second:hover) {
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;

}

#skills {
    display: block;
}

#skills .article-image-section .img {
    padding: 2em;
    border-right: var(--border-color) 1px solid;
    border-bottom: var(--border-color) 1px solid;
}

#skills .article-image-section .img>div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    transform: translateY(25%);
    transition: all 400ms;
}

#skills .article-image-section .img:hover>div {
    transform: translateY(-10%);
    transition: all 400ms;
}

#skills .article-image-section h3 {
    opacity: 1;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Russo One', sans-serif;
    text-shadow: 7px 4px 3px rgba(197, 197, 197, 0.705);
    transition: all 400ms;
}

#skills .article-image-section .img:hover h3 {
    opacity: 0;
    transition: all 400ms;
}

#skills .article-image-section i {
    font-size: 2em;
}

#skills .bar {
    margin: 2em auto 0;
    height: 0;
    width: 0;
    border: solid aliceblue 2px;
    border-radius: 1em;
    transition: all 250ms;
}

#skills .article-image-section .img:hover .bar {
    height: 10em;
    width: 1em;
    transition: all 250ms;
}

#skills .progress-bar {
    border-radius: 1em;
    background-color: aliceblue;
    height: 0;
    transition: all 400ms;
}

#skills .article-image-section .img:hover .progress-bar {
    transition: all 400ms;
}

#skills .article-image-section .img:hover .html {
    height: 90%;
}

#skills .article-image-section .img:hover .css {
    height: 80%;
}

#skills .article-image-section .img:hover .js {
    height: 75%;
}

#skills .article-image-section .img:hover .ts {
    height: 70%;
}

#skills .article-image-section .img:hover .php {
    height: 60%;
}

#skills .article-image-section .img:hover .python {
    height: 40%;
}

#skills .article-image-section .img:hover .c {
    height: 55%;
}

#skills .article-image-section .img:hover .node {
    height: 85%;
}

#skills .article-image-section .img:hover .express {
    height: 80%;
}

#skills .article-image-section .img:hover .react {
    height: 70%;
}

#skills .article-image-section .img:hover .angular {
    height: 60%;
}

#skills .article-image-section .img:hover .symfony {
    height: 65%;
}

#skills .article-image-section .img:hover .laravel {
    height: 50%;
}

#skills .article-image-section .img:hover .django {
    height: 40%;
}

#skills .article-image-section .second>div,
#skills .article-image-section .third>div {
    justify-content: space-evenly;
}

#skills .article-image-section .second,
#skills .article-image-section .third {
    position: relative;
}

#skills .article-image-section .second>div,
#skills .article-image-section .third>div {
    /* transform: translateY(100%); */
    position: absolute;
    top: 40%;
    left: 0;
    height: auto;
    transition: all 400ms;
}

#skills .article-image-section .second>div i,
#skills .article-image-section .third>div i {
    font-size: 3em;
    transition: all 400ms;
}

#skills .article-image-section .second:hover i,
#skills .article-image-section .third:hover i {
    font-size: 5em;
    transition: all 400ms;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 3s linear infinite;
}

/* section image background */

/* #visuals>.article-image-section>.img:nth-child(1) {
    background-image: url(./images/image.jpg);
}

#visuals>.article-image-section>.img:nth-child(2) {
    background-image: url(./images/Compo2D_Photo_Rosny_CHUM.jpg);
}

#visuals>.article-image-section>.img:nth-child(3) {
    background-image: url(./images/IMG_4825.JPG);
}

#visuals>.article-image-section>.img:nth-child(4) {
    background-image: url(./images/IMG_0364.JPG);
} */

/* websites */








/* description display */

.article-description-section {
    flex-basis: 30%;


    display: flex;
    flex-direction: column;
    font-size: 1em;
    text-align: left;
    padding: 2em;


}

.article-description-section .indent, .overlay-body .indent {
    margin-left: 1em;
    margin-top: 1em;
    line-height: 1.4em;
}

.article-description-section p {
    font-family: 'Chakra Petch', sans-serif;

}

.all-desc {
    flex-basis: 75%;
    overflow-y: scroll;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hover {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0 1.5em;
    gap: 5px;
    /* flex-basis: 25%; */
    flex-grow: 1;
}



.article-description-section div p {

    /* padding: 2em; */
    /* margin: 0; */


}


.article-description-section>div>.desc {
    display: none;


}

/* form */
form {
    margin: 2em auto;
    height: 60vh;
    width: 65vw;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 2em;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

form h4,
form span {
    text-align: center;
}

form h4,
form label,
form button,
form span {
    font-family: 'Russo One', sans-serif;
    font-style: italic;
}


form input,
form textarea,
button {
    background: var(--background-color);
    color: white;
    padding: 1em;
    border-radius: 1em;
    width: 100%;
}

label,
input,
textarea {
    display: block;
}

label {
    margin-bottom: 1.75em;
}

form button {
    opacity: 0.5;
    transition: all 400ms;
}

form button:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 15%, rgba(121, 9, 115, 0.8351934523809523) 64%, rgba(0, 212, 255, 0.8379945728291316) 100%, rgba(0, 0, 0, 1) 100%);
    opacity: 1;
    transition: all 400ms;
}



/* bottom styling */

#bottom {
    height: 20vh;
    display: flex;
    border-top: var(--border-color) solid 1px;
}

#bottom .article-section {
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    align-items: center;
}

.article-title-section {
    flex-basis: 70%;
    border-right: var(--border-color) solid 1px;
    overflow: hidden;
}

.article-title-section>h2 {
    font-size: 3em;
    padding: 30px 30px;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Russo One', sans-serif;
    font-style: italic;
    text-shadow: 7px 4px 3px rgba(197, 197, 197, 0.384);
    transition: 1s ease-out;
}

h2[data-title="2"],
h2[data-title="3"],
h2[data-title="4"],
h2[data-title="5"] {
    display: none;
}

.article-nav-section {
    flex-basis: 30%;
}

.article-nav-section .arrows {
    display: flex;
    font-size: 5em;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 50px; */
    padding: 20px;
    width: 100%;
}

.article-nav-section .menu {
    display: none;
    height: 100%;
}


#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    overflow-y: scroll;

}

#close-overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2rem;

}

#overlay-container {
    padding: 2em;
    margin: 0 auto;
    width: 80%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    gap: 2em;

}


#overlay-content {
    width: 100%;
    /* overflow: hidden; */


}

.overlay-body {
    background: black;
    font-size: 1em;
    padding: 1em;
    font-family: 'Chakra Petch', sans-serif;
}

/* links styling */
a:not(#logo) {
    position: relative;
}

a:not(#logo):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
    background-color: rgba(255, 255, 255, 0.5);
}

a:not(#logo):hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
}

/* section-nav arrows styling */
.slide-link-left,
.slide-link-right {
    overflow: hidden;
    position: relative;
    border-radius: 50px;
}

.slide-link-left i,
.slide-link-right i {
    padding: 10px;
    display: inline-block;
    transition: transform 0.3s ease-out;
}

.slide-link-left i:nth-child(2),
.slide-link-right i:nth-child(2) {
    position: absolute;
    width: 100%;
    text-align: center;
}

.slide-link-left i:nth-child(2) {
    left: 100%;
}

.slide-link-right i:nth-child(2) {
    right: 100%;
}

.slide-link-left:hover i {
    transform: translateX(-100%);
}

.slide-link-right:hover i {
    transform: translateX(100%);
}


/* background */
#background {
    width: 100%;
    height: 100%;
    background: url('./images/bg/llleaves.svg') center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.05;
}


@media screen and (max-width: 800px) {

    body {
        flex-direction: column-reverse;
    }

    nav {
        display: none;
        position: fixed;
        width: 100%;
        height: 85vh;
        top: 0;
        background: var(--background-color);
        z-index: 1;

        /* transition: all 1s ease-in-out; */
        flex-direction: column;
    }

    nav #nav-logo-section {
        justify-content: center;
    }

    nav .nav-section:not(.nav-section:last-child) {
        border-bottom: 0.5px solid var(--border-color);
        justify-content: space-evenly;
    }



    main {
        margin-bottom: 30em;
        height: fit-content;
    }

    main article {
        display: block;
    }

    #bottom {
        display: block;
        height: 10vh;
        width: 100%;
    }

    #bottom .article-title-section {
        display: block;
        border-right: none;
        width: 100%;
    }

    .article-title-section>h2 {
        font-size: 2em;
    }

    #bottom .article-nav-section {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 15vh;
        background: var(--background-color);
        border-top: solid 1px var(--border-color);
        z-index: 1;

        display: flex;
    }

    #bottom .arrows {
        flex-basis: 70%;
    }

    .article-nav-section .arrows {
        font-size: 3.5em;
    }

    .article-nav-section .menu {
        border-left: solid 1px var(--border-color);
        display: block;
        font-size: 3vw;
        flex-basis: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
    }

    .article-image-section {
        height: 40vh;
    }

    .article-description-section {
        padding: 3em 1em;
        gap: 1.5em;
        justify-content: start;
        flex-direction: column-reverse;
        min-height: 800px;
        font-size: 1em;
    }

    .article-description-section .hover {
        flex-grow: 0;
    }

    .article-description-section div p {
        padding: 1em;
    }

    .article-description-section i {
        transform: rotate(90deg);
    }

    .all-desc {
        overflow-y: hidden;
        height: 100%;
    }

    #skills .article-image-section {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #skills .article-image-section .img {
        height: 25%;
    }

    #skills .article-image-section .img:hover .bar {
        height: 8em;
    }

    .overlay-images {
        display: flex !important;
        flex-direction: column;
    }

    .overlay-images img {
        width: 250px !important;
        height: 175px !important;

    }
}